<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - TodoApp</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
{% endblock %}
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery-slim.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/base.js" defer></script>
</body>
</html>